/* static/css/custom-navbar.css */
.styled-dropdown {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 6px 12px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

/* .styled-dropdown:hover {
    background-color: #f8f9fa8a;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
} */
