<!-- frontend\templates\partials\modals\modal_autorizar_retirada.html -->
<div class="modal fade" id="modalAutorizarRetirada" tabindex="-1" aria-labelledby="modalAutorizarRetiradaLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="modalAutorizarRetiradaLabel">Autorizar Retirada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <!-- Hidden input para guardar o ID da retirada -->
          <input type="hidden" id="autorizarRetiradaId">

          <div class="col-md-6">
            <label for="autorizarSetor" class="form-label">Setor da Solicitação:</label>
            <input type="text" class="form-control" id="autorizarSetor" readonly>
          </div>
          <div class="col-md-6">
            <label for="autorizarUsuario" class="form-label">Solicitado por:</label>
            <input type="text" class="form-control" id="autorizarUsuario" readonly>
          </div>
          <div class="col-12">
            <label for="autorizarJustificativa" class="form-label">Justificativa da Solicitação</label>
            <textarea class="form-control" id="autorizarJustificativa" rows="2" readonly></textarea>
          </div>
          <div class="col-12">
            <label for="autorizarData" class="form-label">Data da Solicitação</label>
            <input type="text" class="form-control" id="autorizarData" readonly>
          </div>
          <div class="col-12">
            <label class="form-label">Itens Solicitados</label>
          <div id="autorizarItens" class="list-group"></div>
          </div>
          <div class="col-12">
            <label for="autorizarDetalheStatus" class="form-label">Justificativa para Negar/Autorizar</label>
            <textarea class="form-control" id="autorizarDetalheStatus" rows="2"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer border-0 justify-content-center">
        <button id="btn-negar-retirada" class="btn btn-danger me-2">Negar</button>
        <button id="btn-autorizar-retirada" class="btn btn-success me-2">Autorizar</button>
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
