<div class="modal fade" id="modalReportQuantidadeItens" tabindex="-1" aria-labelledby="modalReportQuantidadeItensLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="modalReportQuantidadeItensLabel">Relatório de Quantidade de Itens</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <form id="form-report-quantidade-itens">
                    <div class="mb-3">
                        <label for="filterCategoryReport" class="form-label">Filtrar por Categoria (opcional)</label>
                        <select class="form-select" id="filterCategoryReport" name="filtro_categoria">
                            <option value="">Todas as Categorias</option>
                            </select>
                    </div>
                    <div class="mb-3">
                        <label for="selectedProductNameReport" class="form-label">Filtrar por Produto (opcional)</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="selectedProductNameReport" name="filtro_produto_display" readonly placeholder="Nenhum produto selecionado">
                            <button class="btn btn-outline-secondary" type="button" id="btnOpenSelectProductReportModal">
                                <i class="bi bi-search"></i> Selecionar
                            </button>
                            <button class="btn btn-outline-danger" type="button" id="btnClearSelectedProductReport">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </div>
                        <input type="hidden" id="selectedProductIdReport" name="filtro_produto_id">
                    </div>
                    <div class="mb-3">
                        <label for="formatoQuantidadeItens" class="form-label">Formato do Relatório*</label>
                        <select class="form-select" id="formatoQuantidadeItens" name="formato" required>
                            <option value="csv" selected>CSV</option>
                            <option value="xlsx">XLSX</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnGerarReportQuantidadeItens">Gerar Relatório</button>
            </div>
        </div>
    </div>
</div>