<div class="modal fade" id="modalAutorizarRetirada" tabindex="-1" aria-labelledby="modalAutorizarRetiradaLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="modalAutorizarRetiradaLabel">Autorizar Retirada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <!-- campos para autorizar/negar -->
        </form>
      </div>
      <div class="modal-footer border-0 justify-content-center">
        <button id="btn-negar-retirada" class="btn btn-danger me-2">Negar</button>
        <button id="btn-autorizar-retirada" class="btn btn-success me-2">Autorizar</button>
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>