<div class="modal fade" id="modalCadastrarCategoria" tabindex="-1" aria-labelledby="modalCadastrarCategoriaLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="modalCadastrarCategoriaLabel">Cadastrar Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form id="form-cadastrar-categoria">
          <div class="mb-3">
            <label for="nome_categoria" class="form-label">Nome*</label>
            <input type="text" class="form-control" id="nome_categoria" name="nome_categoria" required>
          </div>
          <div class="mb-3">
            <label for="descricao_categoria" class="form-label">Descrição</label>
            <textarea class="form-control" id="descricao_categoria" name="descricao_categoria" rows="2"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer border-0 justify-content-center">
        <button class="btn btn-secondary me-2" id="btn-cancelar-categoria">Cancelar</button>
        <button class="btn btn-primary" id="btn-salvar-categoria">Salvar</button>
      </div>
    </div>
  </div>
</div>