<!-- frontend\templates\partials\modals\modal_item_detalhes.html -->
<div class="modal fade" id="modalDetalheItem" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header border-0">
        <h5 class="modal-title">Detalhes do Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled mb-0">
          <li><strong>Nome:</strong> <span id="itemNome"></span></li>
          <li><strong>Em Estoque:</strong> <span id="itemEstoque"></span></li>
          <li><strong>Solicitado:</strong> <span id="itemQtdRetirada"></span></li>
          <li><strong>Estoque Mínimo:</strong> <span id="itemEstoqueMin"></span></li>
          <li><strong>Validade:</strong> <span id="itemValidade"></span></li>
        </ul>
      </div>
      <div class="modal-footer border-0">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
