# Ignorar arquivos .env
.env

# Ignorar diretório alembic
/alembic/

# Ignorar arquivos .pdf
codigos.pdf

# Ignorar arquivos .ini
alembic.ini

# Ignorar arquivos .pyc e diretório __pycache__
*.pyc
__pycache__/

# Ignorar arquivos específicos
test.py
gerar_pdf.py

# Ignorar diretórios virtuais (venv, ets, etc.)
venv/
ets/

# Ignorar arquivos de banco de dados SQLite
*.db

# Ignorar arquivos de log
*.log

# Ignorar diretórios específicos (adicione os diretórios que deseja ignorar)
/logs
/relatorios

# Ignorar todos os arquivos em um diretório específico (mas manter o diretório)
/diretorio_com_arquivos_ignorados/*