<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="itensDropdown" data-bs-toggle="dropdown">ITENS</a>
    <ul class="dropdown-menu" aria-labelledby="itensDropdown">
        <li><a class="dropdown-item" id="btn-open-cadastrar-item" href="#">Cadastrar Item</a></li>
        <li><a class="dropdown-item" id="listar-item-link" href="#">Listar Itens</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" id="btn-open-importar-tabela" href="#">Importar Tabela</a></li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="categoriasDropdown" data-bs-toggle="dropdown">CATEGORIAS</a>
    <ul class="dropdown-menu" aria-labelledby="categoriasDropdown">
        <li><a class="dropdown-item" id="btn-open-cadastrar-categoria" href="#">Cadastrar Categoria</a></li>
        <li><a class="dropdown-item" id="listar-categoria-link-quick" href="#">Listar Categoria</a></li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="retiradasDropdown" data-bs-toggle="dropdown">RETIRADAS</a>
    <ul class="dropdown-menu" aria-labelledby="retiradasDropdown">
        <li><a class="dropdown-item" id="btn-open-solicitar-retirada" href="#">Solicitar Retirada</a></li>
        <li><a class="dropdown-item" id="listar-retiradas-link" href="#">Histórico de Retiradas</a></li>
        <li><a class="dropdown-item" id="listar-retiradas-pendentes-link" href="#">Solicitações Pendentes</a></li>
    </ul>
</li>

<li class="nav-item">
    <a class="nav-link" href="#" id="open-reports-dashboard"
       data-bs-toggle="modal" data-bs-target="#modalReportsDashboard">
        RELATÓRIOS
    </a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="alertasDropdown" data-bs-toggle="dropdown">ALERTAS</a>
    <ul class="dropdown-menu" aria-labelledby="alertasDropdown">
        <li><a class="dropdown-item" href="#" id="open-alertas-modal">Listar Alertas</a></li>
    </ul>
</li>
