<!-- frontend\templates\partials\quick_cards.html -->
<div class="col-6 col-md-3">
  <a href="#" id="btn-open-cadastrar-item" class="text-decoration-none">
    <div class="quick-access-card">
      <i class="bi bi-plus-square"></i>
      <p>Cadastrar Item</p>
    </div>
  </a>
</div>
<div class="col-6 col-md-3">
  <a href="#" id="listar-item-link-quick" class="text-decoration-none">
    <div class="quick-access-card">
      <i class="bi bi-card-list"></i>
      <p>Listar Itens</p>
    </div>
  </a>
</div>
<div class="col-6 col-md-3">
  <a href="#" id="listar-retiradas-pendentes-quick" class="text-decoration-none">
    <div class="quick-access-card">
      <i class="bi bi-card-checklist"></i>
      <p>Retiradas Pendentes</p>
    </div>
  </a>
</div>
<div class="col-6 col-md-3">
  <a href="#" id="open-reports-dashboard" data-bs-toggle="modal" data-bs-target="#modalReportsDashboard" class="text-decoration-none">    
    <div class="quick-access-card">
      <i class="bi bi-bar-chart-line"></i>
      <p>Relatórios</p>
    </div>
  </a>
</div>