<!-- frontend\templates\partials\quick_cards.html -->
<div class="col-6 col-md-3">
  <a href="#" id="listar-usuarios-link" class="text-decoration-none">
    <div class="quick-access-card">
      <i class="bi bi-person-fill-gear"></i>
      <p>Gerenciar Usuários</p>
    </div>
  </a>
</div>
<div class="col-6 col-md-3">
  <a href="#" id="listar-setores-link" class="text-decoration-none">
    <div class="quick-access-card">
      <i class="bi bi-building-fill"></i>
      <p>Gerenciar Setores</p>
    </div>
  </a>
</div>
<div class="col-6 col-md-3">
  <a href="#" id="open-alertas-modal" class="text-decoration-none">
    <div class="quick-access-card">
      <i class="bi bi-exclamation-octagon-fill"></i>
      <p>Alertas de Estoque</p>
    </div>
  </a>
</div>
<div class="col-6 col-md-3">
  <a href="#" id="open-reports-dashboard" data-bs-toggle="modal" data-bs-target="#modalReportsDashboard" class="text-decoration-none">    
    <div class="quick-access-card">
      <i class="bi bi-bar-chart-line-fill"></i>
      <p>Relatórios</p>
    </div>
  </a>
</div>