<!-- frontend\templates\partials\scripts.html -->
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/validar-acesso.js"></script>
<script src="/static/js/logout.js"></script>
<script src="/static/js/listar-itens.js"></script>
<script src="/static/js/listar-categorias.js"></script>
<script src="/static/js/cadastrar-item.js"></script>
<script src="/static/js/cadastrar-categorias.js"></script>


<script type="module" src="/static/js/estadoGlobal.js"></script>
<script type="module" src="/static/js/utils.js"></script>
<script type="module" src="/static/js/apiService.js"></script>
<script type="module" src="/static/js/dataService.js"></script>
<script type="module" src="/static/js/uiService.js"></script>
<script type="module" src="/static/js/retiradasModule.js"></script>
<script type="module" src="/static/js/solicitar-retirada.js"></script>

<script type="module" src="/static/js/main.js"></script>

</body>
</html>