<!-- frontend\templates\includes\modal.html -->
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" …>
    <div class="modal-dialog {{ modal_size|default('modal-lg') }}">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-0">
          <h5 class="modal-title">{{ modal_title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          {% block modal_body %}{% endblock %}
        </div>
        <div class="modal-footer border-0 justify-content-center">
          <button type="button" class="btn btn-secondary" id="{{ modal_cancel_id }}">Cancelar</button>
          <button type="button" class="btn btn-primary" id="{{ modal_save_id }}">Enviar</button>
        </div>
      </div>
    </div>
  </div>
  