<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Sistema{% endblock %}</title>

  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/css/dashboards.css" rel="stylesheet">
  {% block head %}{% endblock %}
</head>
<body>
  <script src="/static/js/validar-acesso.js"></script>

  {% include "includes/topbar.html" %}
  {% include "includes/navbar.html" %}

  <main class="container py-4" id="main-content">
    {% block content %}{% endblock %}
  </main>

  {% include "includes/modal.html" %}
  
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script type="module" src="/static/js/navbar.js"></script>
  <script type="module" src="/static/js/pagination.js"></script>
  <script type="module" src="/static/js/modal.js"></script>
  <script type="module" src="/static/js/cadastrar-item.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
